main {
  width: 960px;
  margin: 0 auto;
}

body  {


}

nav {
  height: 100px;
  width: 100vw;
  background-color: #333333;
  vertical-align: middle;
  color: grey;
  font-family: sans-serif;
  font-size: 20px;
}

#logo {
  border: 10px;
  margin-top: 10px;
  vertical-align: middle;
}

ul {
  width: 960px;
  margin: 0 auto;
}

nav li {
  display:inline;
  margin: 10px 30px;
  vertical-align: middle;
}

section {
  margin: 15px 0px;
}



#one image {
  margin: 10px;
  border: 10px;
}

#two, #three {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#three div{
  height: 400px;
  display: inline-block;
}

#left {
  margin: 10px 0px;
}


h2 {
  font-size: 28px;
}

article {
  overflow: scroll;
  width: 450px;
  height: 340px;
  font-size: 20px;
}

button {
  padding: 5px 30px;
  margin-top: 5px;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

button:hover {
  background-color: aliceblue;
  color: black;
  transition: 350ms;
}

footer {
  height: 100px;
  width: 100vw;
  background-color:#333333;
}